# Python virtual environment
myenv/
venv/
env/

# PyTorch specific files
**/torch/lib/
**/torch_cpu.dll
**/dnnl.lib
**/kineto.lib

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/


# Dataset
dataset/